---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title> A Glimpse Of Our Tech Ecosystem</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/python.svg"
          width="100"
          height="60"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/node.svg"
          width="100"
          height="60"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/aws.svg"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/google_cloud.svg"
          width="100"
          height="60"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/docker.svg"
          width="100"
          height="60"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/react.svg"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/javascript.svg"
          width="100"
          height="60"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/next.svg"
          width="100"
          height="60"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/figma.svg"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/selenium.svg"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/cypress.svg"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
    </div>
  </Container>
</section>
